#body, html {
  /* height: 100%; */
  margin: 0;
  font: 15px/1.8 "Lato", sans-serif;
  color: #777;
}
h2 {
  letter-spacing: 1px;
  font: 20px "Lato", sans-serif;
  color: #444444;
  text-align: center;
  font-weight: bold;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  text-align: center;
}
h4 {
  letter-spacing: 1px;
  text-transform: capitalize;
  font: 15px "Lato", sans-serif;
  color: #444444;
}
#p1{
	display: inline-block;
	vertical-align: top;
	width: 65%;
	border:1px solid #e9e9e9;
 	background-color: #e2e2e2;
 	text-align: center;
}
#p2{
	display: inline-block;
	vertical-align: top;
	width: 33%;
	border:1px solid #e9e9e9;
 	background-color: #e2e2e2;
 	text-align: center;
}
#head {
  color: #777;
  /* background-color:white;  */
  text-align:center;
  padding:0px 50px;
  line-height: .4;
}
#form{
  color: #777;
  background-color:white;
  text-align:left;
  border:1px solid #e9e9e9;
  padding:5px 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  all: initial;
  font: 15px/1.8 "Lato", sans-serif;
  color: #777;
  visibility: hidden;
  width: 300px;
  background-color: #e2e2e2;
  color: #111;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#url {
  min-width: 280px;
}

.label {
  /*float:left;*/
  padding:0px 6px 1px 1px;
  display: inline-block;
}

.input_wrapper {

  /*float:left;*/
  position:relative;
  display: inline-block;
  width:100%;
}

.input_wrapper .pretext {
  position:absolute;
  left:137px;
  top: 0px;
  color:#999;
}

.error {
  border:2px solid red;
}

.popup_content {
  margin: 10px;
  padding: 0 10px;
  max-width: 60%;
  border: 2px solid #444;
  background: white;
}

img {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 3px;
  width: 50%;
  cursor: zoom-in;
  transition: 0.3s;
}

img:hover {
    opacity: 0.7;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
